.searchBox {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.searchBox > input[type="text"] {
    height: 50px;
    width: 40%;
    min-width: 200px;
    padding: 0 20px;
    font: 400 18px "sans-serif";
    border: 1px solid rgb(183, 183, 183);
}

.searchBox > input[type="text"]:focus {
    outline: none;
    border: 1px solid rgb(183, 183, 183);
}

.searchBox > input[type="submit"] {
    height: 50px;
    padding: 0 20px;
    border: 0;
    outline: 0;
    transition: all 0.5s;
    background-color: #ff7434;
    color: white;
    font: 400 16px "sans-serif";
}

.searchBox > input[type="submit"]:hover {
    background-color: rgb(76, 130, 255);
}