.forgotPasswordContainer {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

.updatePasswordContainer > h2 {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.forgotPasswordBox {
    width: 30vw;
    min-width: 300px;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 15px;
}

.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 90%;
    transition: all 0.5s;
}

.forgotPasswordForm>div {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 200px;
}

.forgotPasswordForm>div>input {
    min-width: 200px;
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font: 300 12px sans-serif;
}

.forgotPasswordForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.5);
}

.forgotPasswordBtn {
    border: none;
    background-color: #ff5100;
    color: white;
    font: 400 12px "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    outline: none;
}

.updatePasswordBtn:hover {
    background-color: #c83f00;
}


@media screen and (max-width: 600px) {
    .forgotPasswordContainer {
        background-color: white;
    }

    .forgotPasswordBox {
        width: 100vw;
        height: 95vh;
    }

    .forgotPasswordForm {
        padding: 5vmax;
    }

    .forgotPasswordForm>div>input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax sans-serif;
    }

    .forgotPasswordForm>div>svg {
        font-size: 2.8vmax;
    }

    .forgotPasswordBtn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}