.LoginSignupContainer {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginSignupBox {
    width: 30vw;
    min-width: 300px;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 15px;
}

.login_signup_toggle {
    display: flex;
    height: 3vmax;
}

.login_signup_toggle>p {
    color: black;
    font: 400 14px "Roboto";
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
    padding: 20px;
}

.login_signup_toggle>p:hover {
    color: #ff5e14;
}

.LoginSignupBox>div>button {
    background-color: #ff5e14;
    height: 3px;
    width: 50%;
    border: none;
    transition: all 0.5s;
}

.loginForm,
.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 90%;
    transition: all 0.5s;
}

.signUpForm {
    transform: translateY(-100%) translateX(-100vmax);
}

.loginForm {
    transform: translateY(0%) translateX(0vax);
}

.loginForm>div,
.signUpForm>div {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 200px;
}

.loginForm>div>input,
.signUpForm>div>input {
    min-width: 200px;
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font: 300 12px sans-serif;
}

.loginForm>div>svg,
.signUpForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.5);
}

.loginForm>a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 12px "Gill Sans";
}

.loginForm>a:hover {
    color: rgb(95, 154, 255);
}

.demoProfile {
    height: 3vmax;
    width: 3vmax;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.registerImage {
    width: 3vmax;
}

.registerImage>input {
    display: flex;
    height: 3vmax;
    padding: 0 !important;
}

.registerImage>input:hover {
    background-color: gray;
}

.registerImage>input::-webkit-file-upload-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.loginBtn,
.signUpBtn {
    border: none;
    background-color: #ff5100;
    color: white;
    font: 400 12px "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    outline: none;
}

.loginBtn:hover,
.signUpBtn:hover {
    background-color: #c83f00;
}



.shiftToLeft {
    transform: translateX(-100%);
}

.shiftToNeutral {
    transform: translateX(0%);
}

.shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
    transform: translateX(100%);
}




@media screen and (max-width: 600px) {
    .slider-btns {
        position: relative;
    }

    .slider-btns>button {
        position: absolute;
        top: 300%;
    }

    .LoginSignUpContainer {
        background-color: white;
    }

    .LoginSignUpBox {
        width: 100vw;
        height: 95vh;
    }

    .login_signUp_toggle {
        height: 5vmax;
    }

    .login_signUp_toggle>p {
        font: 300 1.5vmax "Roboto";
    }

    .loginForm,
    .signUpForm {
        padding: 5vmax;
    }

    .loginForm>div>input,
    .signUpForm>div>input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax sans-serif;
    }

    .loginForm>div>svg,
    .signUpForm>div>svg {
        font-size: 2.8vmax;
    }

    .loginForm>a {
        font: 500 1.8vmax "Gill Sans";
    }

    .loginForm>img {
        width: 8vmax;
        border-radius: 100%;
    }

    .registerImage>input::-webkit-file-upload-button {
        height: 7vh;
        font: 400 1.8vmax sans-serif;
    }

    .loginBtn,
    .signUpBtn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}