.UpdateProfileContainer {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

.UpdateProfileContainer > h2 {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.UpdateProfileBox {
    width: 30vw;
    min-width: 300px;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 15px;
}

.UpdateProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 90%;
    transition: all 0.5s;
}

.UpdateProfileForm>div {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 200px;
}

.UpdateProfileForm>div>input {
    min-width: 200px;
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font: 300 12px sans-serif;
}

.UpdateProfileForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.5);
}

.demoProfile {
    height: 3vmax;
    width: 3vmax;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.UpdateProfileImage {
    width: 3vmax;
}

.UpdateProfileImage>input {
    display: flex;
    height: 3vmax;
    padding: 0 !important;
}

.UpdateProfileImage>input:hover {
    background-color: gray;
}

.UpdateProfileImage>input::-webkit-file-upload-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    min-height: 40px;
    outline: none;
    border: none;
}

.UpdateProfileBtn {
    border: none;
    background-color: #ff5100;
    color: white;
    font: 400 12px "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    outline: none;
}

.UpdateProfileBtn:hover {
    background-color: #c83f00;
}


@media screen and (max-width: 600px) {
    .UpdateProfileContainer {
        background-color: white;
    }

    .UpdateProfileBox {
        width: 100vw;
        height: 95vh;
    }

    .UpdateProfileForm {
        padding: 5vmax;
    }

    .UpdateProfileForm>div>input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax sans-serif;
    }

    .UpdateProfileForm>div>svg {
        font-size: 2.8vmax;
    }

    .UpdateProfileImage>img {
        width: 8vmax;
        height: 8vmax;
        border-radius: 100%;
    }
    
    .UpdateProfileImage>input::-webkit-file-upload-button {
        height: 100%;
        font: 400 1.8vmax sans-serif;
    }

    .UpdateProfileImage > input {
        height: 100%;
    }

    .UpdateProfileBtn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}