@tailwind base;
@tailwind components;
@tailwind utilities;

.main-button{
    @apply bg-white hover:bg-transparent hover:text-main-red text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow
}

. css-1m9128y {
    @apply py-2
}

@media screen and (width <= 900px ) {
    .css-1m9128y {
        @apply py-1
    }
}

textarea:focus, input:focus, input:active{
    border: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #334155; 
}

input::-webkit-file-upload-button {
    cursor: pointer;
    width: 50%;
    height: 100%;
    outline: none;
    border: none;
}

.paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item {
    background-color: #fefefe;
    list-style: none;
    transition: all 0.3s;
    cursor: pointer;
    height: 40px;
    min-width: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.page-link {
    text-decoration: none;
    font: 16px;
    color: #1e293b;
    transition: all 0.3s;
}

.page-item:hover {
    background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
    color: rgb(0, 0, 0);
}

.pageItemActive {
    background-color: #DB4444;
}

.pageLinkActive {
    color: white;
}

@media screen and (max-width: 600px) {
    .page-item {
        padding: 0 6px;
    }
    .page-link {
        font: 10px;
    }
}