.cartItemCard {
    width: 90%;
    height: 15vmax;
    max-height: 150px;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(255, 253, 248);
}

.cartItemCard>img {
    height: 100%;
}

.cartItemCard>div {
    display: flex;
    margin: 0.3vmax 1vmax;
    flex-direction: column;
}

.cartItemCard>div>a {
    font: 300 20px sans-serif;
    text-decoration: none;
    color: black;
    height: 20%;
}

.cartItemCard>div>span {
    font: 300 16px Roboto;
    height: 20%;
}

.cartItemCard>div>p {
    font: 300 1v sans-serif;
    color: rgb(226, 139, 0);
    cursor: pointer;
    margin: 0;
    height: 60%;
    padding-top: 50px;
}

@media screen and (width<=600px) {
    .cartItemCard {
        height: 25vmax;
    }

    .cartItemCard>img {
        height: 100%;
    }

    .cartItemCard>div {
        margin: 1vmax 2vmax;
    }

    .cartItemCard>div>a {
        font: 300 18px sans-serif;
        height: 25%;
    }

    .cartItemCard>div>span {
        font: 300 14px Roboto;
        height: 25%;
    }

    .cartItemCard>div>p {
        font: 200 14px Roboto;
        height: 50%;
        padding-top: 40%;
    }
}