.noItemMessage {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noItemMessage > svg {
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    color: rgb(255, 115, 0);
}

.noItemMessage > a {
    text-decoration: none;
}

.cartPage {
    width: 100%;
    min-height: 90vh;
    padding-top: 20px;
}

.cartHeader {
    background-color: rgb(255, 157, 0);
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    font: 400 1.2vmax "Poppins";
    border-radius: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.cartHeader>p {
    margin: 5px;
}

.cartHeader>p:last-child {
    text-align: end;
}

.cartContainer {
    width: 90%;
    box-sizing: border-box;
    margin: 30px auto;
    display: grid;
    background-color: rgb(255, 251, 242);
    grid-template-columns: 4fr 1fr 1fr;
    border-radius: 20px;
    padding: 0 20px;
}

.cartInput {
    display: flex;
    margin-top: 10px;
}

.cartInput>button {
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0.5vmax;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(255, 234, 201);
}

.cartInput>button:hover {
    background-color: rgb(255, 234, 201);
}

.cartInput>input {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(255, 157, 0);
    border-radius: 10px;
    padding: 0.5vmax 2px;
    margin: 0 10px;
}

.cartSubTotal {
    margin-top: 10px;
    width: 100%;
    text-align: end;
    font-size: 20px;
    margin-right: 10px;
}

.cartSubtotal {
    display: flex;
    padding: 0.5vmax;
    height: 8vmax;
    align-items: center;
    box-sizing: border-box;
    font: 300 1vmax cursive;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.753);
}

.cartGrossProfit {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}

.cartGrossProfitBox {
    border-top: 1px solid rgb(255, 157, 0);
    margin: 1vmax 4vmax;
    box-sizing: border-box;
    padding: 2vmax 0 0 0;
    font: 300 1vmax "Roboto";
    display: flex;
    justify-content: flex-end;
}

.cartGrossProfitBox > p:first-child {
    margin-right: 6%;
}

.checkOutBtn {
    display: flex;
    justify-content: flex-end;
}

.checkOutBtn>button {
    background-color: rgb(255, 157, 0);
    color: white;
    border: none;
    padding: 0.8vmax 2vmax;
    width: 15%;
    font: 300 0.8vmax "Roboto";
    margin: 0 4vmax 1vmax 4vmax;
    cursor: pointer;
    border-radius: 30px;
}



@media screen and (width <=600px) {

    .cartInput {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        align-items: start;
    }

    .cartInput>button {
        width: 20px;
        height: 20px;
        font: 300 10px Roboto;
    }

    .cartInput>input {
        width: 20px;
        height: 20px;
        font: 300 10px Roboto;
        border-radius: 4px;
        margin: 5px 0;
    }

    .cartSubTotal {
        font-size: 12px;
        margin-right: 0;
        padding-right: 10px;
    }

    .cartContainer {
        margin: 10px auto;
    }

    .cartContainer {
        padding: 0;
    }

    .cartSubtotal {
        padding: 1.5vmax;
        height: 20vmax;
        font: 300 2vmax "Roboto";
    }

    .cartGrossProfit {
        display: grid;
        grid-template-columns: 0fr 2fr;
    }

    .cartGrossProfitBox {
        padding: 2vmax;
        font: 300 2vmax "Roboto";
    }

    .checkOutBtn>button {
        padding: 2vmax 4vmax;
        width: 100%;
        font: 300 2vmax "Roboto";
    }
}