.paymentContainer {
  display: grid;
  place-items: center;
  margin-top: 20px;
}

.paymentForm {
  background-color: #f1f5f9;
  width: 25%;
  max-width: 300px;
  height: 270px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.paymentForm>div {
  display: flex;
  align-items: center;
}

.paymentInput {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  outline: none;
}

.paymentForm>div>svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.paymentFormBtn {
  border: none;
  background-color: #DB4444;
  color: white;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 0;
}

.paymentFormBtn:hover {
  background-color: #991d1d;
}

@media screen and (max-width: 1000px) {
  .paymentForm {
    width: 60%;
  }
  
  .paymentForm>div>svg {
    font-size: 25px;
  }

  .paymentInput {
    padding: 8px 35px;
  }
}

@media screen and (max-width: 600px) {
  .paymentForm {
    width: 90%;
  }

  .paymentInput {
    padding: 2vw 10vw;
  }

  .paymentForm>div>svg {
    font-size: 20px;
    transform: translateX(10px);
  }

  .paymentFormBtn {
    font: 300 14px "Roboto";
    padding: 10px 0;
  }
}